@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin btn-purple {
  font-size: 1.5rem;
  color: white;
  background-color: $color-purple;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

@mixin form-style-box {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid transparent;
  width: 100%;
}