@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin btn-purple {
  font-size: 1rem;
  color: white;
  background-color: $color-purple;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-family: $font-content;
  cursor: pointer;

  &:hover {
    background-color: rgb(97, 34, 75);
  }
}

@mixin form-style-box {
  margin-bottom: 0.6rem;
  font-size: 1rem;
  padding: 10px 2px;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 2px solid rgb(97, 34, 75);
  width: 100%;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}