$color-purple: rgb(154, 78, 127);
$color-blue-dark: rgb(10, 93, 107);
$color-blue-light: rgb(172, 212, 222);
$color-grey-dark: rgb(58, 55, 62);
$color-grey-light: rgb(88, 136, 156);
$color-bg-main: rgb(244, 244, 244);
$color-title: rgba(20, 136, 182, 0.596);
// ANIMATION
$navh-tab-width: 100%;

//MARGIN
$separateSection: 40px;

// FONTS
$font-content: "Quicksand", sans-serif;
$font-tittle: "Quicksand", sans-serif;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

// FLEX
$flex-direction-row: row;
$flex-direction-column: column;

$flex-wrap: wrap;
$flex-nowrap: nowrap;

$justify-content-center: center;
$justify-content-space-between: space-between;
$justify-content-space-around: space-around;

$align-items-center: center;

$align-content-center: center;
