$color-purple: rgb(154, 78, 127);
$color-blue-dark: rgb(10, 93, 107);
$color-blue-light: rgb(172, 212, 222);
$color-grey-dark: rgb(58, 55, 62);
$color-grey-light: rgb(88, 136, 156);

$font-content: 'Nunito';
$font-tittle: 'Permanent Marker';