.profile {
  // INFO DE ARRIBA
  background-color: rgba(235, 236, 232, 0.767);
  &__info {
    display: flex;
    width: 100%;

    // border: 10px solid white;
    //border-radius: 30px;
    padding: 18px;

    &-name {
      width: 50%;
      position: relative;

      img {
        width: 300px;
        position: absolute;
      }
    }
    &-picture {
      width: 50%;
      position: relative;

      .image {
        border-radius: 20px;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 1;
        display: block;
        transition: 0.5s ease;
        backface-visibility: hidden;
        border: 1px solid #ccc;
        width: 400px;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      &:hover .image {
        opacity: 0.3;
      }

      &:hover .middle {
        opacity: 1;
      }

      .text {
        cursor: pointer;
        background-color: #3b96c0;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
    }
  }

  //GRUPOS
  &__groups {
    border-radius: 20px;
    margin: 10px 10px 30px 10px;
    background-color: rgba(222, 223, 222, 0.884);
    display: flex;
    justify-content: space-around;
    &-b1 {
      border-radius: 20px;
      padding: 30px;
      width: 40%;
      cursor: pointer;
      background-color: rgba(82, 154, 187, 0.404);
      color: white;
      font-size: 16px;
      border: none;
      margin-bottom: 10px;
      transition: 0.5s;

      &:hover {
        background-color: rgb(210, 216, 157);
      }
    }
  }

  //AMIGOS
  &__friends {
    //  background-color: rebeccapurple;
    border-radius: 20px;
    margin: 10px 10px 30px 10px;
    background-color: rgba(222, 223, 222, 0.884);

    &-box {
      padding: 35px;
      display: flex;
      justify-content: center;
    }
  }

  //MODAL
  &__modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin-left: 250px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */

    &-content {
      background-color: #fefefe;
      padding: 20px;
      border: 1px solid #888;
      width: 70%;
      margin: 8%;
    }

    &-close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
      margin-right: 10px;

      &:hover {
        color: black;
        cursor: pointer;
      }
    }
  }

  //TABLA
  &__table {
    //background-color: royalblue;
    width: 100%;

    &-box {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &-t {
      background-color: rgba(82, 154, 187, 0.404);
      border-radius: 20px;
    }
  }

  //TITULOS
  &-title {
    background-color: sandybrown;
    text-align: center;
    font-family: "Patrick Hand SC";
    font-size: 40px;
    font-weight: bold;
  }
}

//CAJA AMIGOS
.friends_img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  //  background-color: violet;

  .image {
    border-radius: 50%;
    padding: 10px;
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &:hover .image {
    opacity: 0.3;
  }

  &:hover .middle {
    opacity: 1;
  }

  .text {
    cursor: pointer;
    background-color: #3b96c0;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
}

.icon__friends {
  img {
    left: 20px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 1s;
    &:hover {
      width: 60px;
      height: 60px;
    }
  }
}

.ant-table-thead {
  background-color: blueviolet;
}
