@mixin cajas {
  background-color: #fa396f;
  width: 50%;
  height: 300px;
  color: white;
  font-size: 40px;
}

.profile {
  display: flex;
  &__left {
    @include cajas;

    &-groups {
      @include cajas;
      background-color: #c7889a;
    }
  }

  &__center {
    background-color: #c7889a;
    width: 30%;
    height: 300px;
    color: white;
    font-size: 40px;
  }

  &__right {
    width: 20%;

    &-friends {
      @include cajas;
      background-color: #88c788;
    }
    ul {
      background-color: #9188c7;
      height: 100%;

      li {
        margin-right: 0;
        width: 100%;
        padding: 25px;
        color: white;
        font-size: 25px;
      }
    }
  }
}
