.profile {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: Lilita One;
  }

  &__picture {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      padding: 10px;
    }
  }

  &__card {
    display: flex;
    justify-content: center;

    &-box {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      height: 100px;
      border-radius: 10px;
      p {
        display: inline;
      }
    }
  }

  //caja para todos los elementos
  .name_box {
    background-color: rgba(241, 246, 248, 0.438);
    box-shadow: 0px 0px 65px -8px rgba(0, 0, 0, 0.75);
  }
}

.groups_box {
  margin: 10px;
  width: 50%;
  background-color: #17a3b891;
  border-radius: 5px;
}

.friends_box {
  margin: 10px;

  background-color: rgb(253, 254, 255);
  border-radius: 5px;

  div {
    width: 100%;
    display: flex;
    align-content: space-around;
  }
}

.friends_img {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 23px -8px rgba(0, 0, 0, 0.75);
  background-color: white;
  border-radius: 5px;
  width: fit-content;
  padding: 10px;
  cursor: pointer;

  &:hover {
    background-color: rgb(162, 157, 187);
  }

  img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}
