.profile {
  display: flex;
  &__left {
    background-color: #fa396f;
    width: 50%;
    height: 300px;
    color: white;
    font-size: 40px;
  }

  &__center {
    background-color: #c7889a;
    width: 30%;
    height: 300px;
    color: white;
    font-size: 40px;
  }

  &__right {
    width: 20%;
    ul {
      background-color: #9188c7;
      height: 100%;

      li {
        margin-right: 0;
        width: 100%;
        padding: 25px;
        color: white;
        font-size: 25px;
      }
    }
  }
}
