.profile-myGroups {
  border-radius: 20px;
  margin: 10px 10px 30px 10px;
  padding: 30px;
  background-color: rgba(222, 223, 222, 0.884);
  display: flex;
  justify-content: center;

  .myGroups__cointainer {
    .myGroup {
      border: 1px solid rgba(222, 223, 222, 0.884);
      width: 600px;
      display: flex;
      padding: 10px;
      background-color: white;

      position: relative;
  
      &__left {
        width: 15%;
        color: dimgray;

        .formatDate {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      }
  
      &__right {
        display: flex;
        flex-direction: column;
        
  
        &--adventure {
          font-size: small;
          color: rgb(58, 57, 57);
        }
  
        &--name {
          font-size: 1.5em;
          font-weight: bold;
          padding: 10px 0;
          
        }
  
        &--users {
          color: dimgray;
        }
      }
    }
    @media only screen and (max-width: 924px) {
      .myGroup {
        width: 100%;

        &__left {
          width: 45%;
        }
      }
    }
  }

}
