.profile {
  // INFO DE ARRIBA
  &__info {
    display: flex;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: 10px solid white;

    border-radius: 50px;
    padding: 18px;
    &-name {
      width: 50%;
      position: relative;

      img {
        width: 300px;
        position: absolute;
      }
    }
    &-picture {
      display: flex;
      justify-content: flex-end;
      width: 50%;
      position: relative;
      padding: 10px;

      .image {
        border-radius: 50px;
        opacity: 1;
        display: block;
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: 0.5s ease;
        backface-visibility: hidden;
      }

      .middle {
        transition: 0.5s ease;
        opacity: 0;
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
      &:hover .image {
        opacity: 0.3;
      }

      &:hover .middle {
        opacity: 1;
      }

      .text {
        cursor: pointer;
        background-color: #3b96c0;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
    }
  }

  //GRUPOS
  &__groups {
    background-color: salmon;
  }

  //AMIGOS
  &__friends {
    //  background-color: rebeccapurple;

    &-box {
      padding: 35px;
      display: flex;
      justify-content: center;
    }
  }

  //MODAL
  &__modal {
    background-color: red;
  }

  //TABLA
  &__table {
    background-color: royalblue;
  }

  //TITULOS
  &-title {
    background-color: sandybrown;
    text-align: center;
    font-family: "Patrick Hand SC";
    font-size: 40px;
    font-weight: bold;
  }
}

//CAJA AMIGOS
.friends_img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  //  background-color: violet;

  .image {
    border-radius: 50%;
    padding: 10px;
    opacity: 1;
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    transition: 0.5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  &:hover .image {
    opacity: 0.3;
  }

  &:hover .middle {
    opacity: 1;
  }

  .text {
    cursor: pointer;
    background-color: #3b96c0;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
}
