.avatar {
  width: 65px;
  height: 65px;
  margin: 3px;
  border-radius: 50%;
  position: relative;

  span {
    display: none;
  }

  &:hover {
    opacity: 0.8
  }

  &:hover span{
    display: block;
    @include abs-center;
    cursor: pointer;
    background-color: #3b96c0;
    color: white;
    font-size: 16px;
    border-radius: 2px;
    padding: 1px 4px;
    //opacity: 1;
  }
}
