.adventures__btn {
  @include btn-purple;
}

.btn {
  border-radius: 1em;
  color: #000 !important;
  background-color: #fff;
  padding: 0.3rem 2.13rem;
  cursor: pointer;
  
  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline-style: none;
  }

  &--rainbow {
    width: fit-content;
    padding: 3px;
    background-image: linear-gradient(
      to right,
      #fdde5c 0%,
      #f8ab5e calc(100% / 6),
      #f56a62 calc(100% / 6 * 2),
      #a176c8 calc(100% / 6 * 3),
      #759beb calc(100% / 6 * 4),
      #65beb3 calc(100% / 6 * 5),
      #70db96 100%
    );

    background-clip: padding-box;
    border-radius: 1em;
  }
}

.button-plus {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1.3px solid white;
  border-radius: 50%;
  
  &:focus {
    outline-style: none;
  }
}

.plus__icon {
  width: 100%;
  height: 100%;
  fill: #fff;
  padding: 4px;
  cursor: pointer;
}

.cross__icon {
  width: 100%;
  height: 100%;
  fill: red;
  padding: 4px;
  cursor: pointer;
  
  &:hover {
    fill: white;
  }
}

.button-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  color: red;
  border: none;

  &:hover {
    color: white;
    background-color: red;
  }

  &:focus {
    outline-style: none;
  }
}
