.social {
  max-width: 100%;

  &__box {
    display: flex;
    justify-content: center;
    height: 400px;
    margin: $separateSection;

    &-container {
      width: 1000px;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      background-image: url("../../images/landscape2.jpg");
      background-position: bottom;
      background-size: cover;
      -webkit-box-shadow: 0px 0px 69px -32px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 69px -32px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 69px -32px rgba(0, 0, 0, 0.75);
      border-radius: 4px;
    }
  }

  &__left {
    width: 40%;
    min-width: 320px;
    display: flex;
    justify-content: center;

    &-btn {
      display: flex;
      align-items: center;

      button {
        @include btn-purple;
      }
    }
  }

  &__right {
    width: 60%;
    min-width: 400px;
    padding: 40px 40px 40px 120px;
    background-color: rgba(255, 255, 255, 0.493);
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0 100%);
    display: flex;
    align-items: center;

    .form {
      animation: fadein 1s;
      &-input {
        @include form-style-box;
        font-family: $font-tittle;
        &:focus {
          outline: none;
          box-shadow: 0 1px 5px $color-grey-dark;
          border-bottom: 2px solid $color-blue-dark;
        }
      }

      &-select {
        display: flex;
        justify-content: space-between;

        select {
          @include form-style-box;
          width: 48%;
          font-family: $font-tittle;
        }
      }

      &-submit {
        justify-content: center;
        display: flex;
        align-items: center;
        padding-top: 25px;
      }

      input[type="submit"] {
        @include btn-purple;
      }
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
