.groups {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.group {
  width: 340px;
  height: 180px;
  padding: 10px;
  margin: 10px 10px;
  color: white;
  
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background-size: cover;
  background-position: 0 -75px;
  border: 1px solid black;
  border-radius: 5px;

  &__container {
    flex-basis: 85%;
    text-shadow: 3px 3px 4px black;
  }
}

.modal_group {

  &__title {
    height: 190px;
    background-size: cover;
    background-position: 0 -85px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  &__container {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    &--text {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      position: relative;

      & > * {
        margin: 0 25px;
      }
    }

    &--avatars {
      padding: 15px;

      display: flex;
      flex-wrap: wrap;
    }
  }
}