.groups {

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    &--box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.group {
  width: 340px;
  height: 180px;
  padding: 10px;
  margin: 10px 10px;
  color: white;
  
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  background-size: cover;
  background-position: 0 -75px;
  border: 1px solid black;
  border-radius: 5px;

  &__container {
    flex-basis: 85%;
    text-shadow: 3px 3px 4px black;
  }
}
