.load {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;

  &-box {
    border: 16px solid $color-grey-light;
    border-radius: 50%;
    border-top: 16px solid $color-title;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
