/* For demo */
.ant-carousel .slick-slide {
  text-align: center;

  line-height: 160px;
  background: #000000;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}
.imgSlide {
  width: 100%;
  height: auto;
  display: block;
}
.imgSlide img {
  height: auto;
  max-width: 100%;
  display: block;
}
