$color1: #79aefe;
$color2: #314190;
$color3: #279636;
$color4: #7d5d81;
$color5: #ead24c;
$color6: #ff1b5faf;

@mixin title() {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-family: $font-tittle;
  width: 100%;
  color: white;
}

@media only screen and (max-width: 480px) {
  @mixin title() {
    font-size: 1rem;
  }
}
.redclass {
  @include title();
  background-color: $color6;
}

.purpleclass {
  @include title();
  background-color: $color4;
}

.greenclass {
  @include title();
  background-color: $color3;
}

.clearblueclass {
  @include title();
  background-color: $color2;
}
.defaultclass {
  @include title();
  background-color: $color1;
}

// background-color: #79aefe;
// background-color: #314190;
// background-color: #279636;
// background-color: #7d5d81;
// background-color: #ead24c;

.titleSmall {
  font-size: 1.3rem;
  font-family: $font-tittle;
  font-weight: bold;
  color: white;
}

.bgSemiTransparent {
  background-color: rgba(128, 128, 128, 0.6);
  padding: 2px 5px;
  border-radius: 2px;
  font-size: 1.5rem;
}

.divtitle {
  width: 100%;
}

@media only screen and (max-width: 425px) {
  .divtitle {
    width: 450px;
  }
}
