$color1: #79aefe;
$color2: #314190;
$color3: #279636;
$color4: #7d5d81;
$color5: #ead24c;
$color6: #ff1b5faf;

@mixin title() {
  padding: 5px;
  text-align: center;
  font-size: 2rem;
  font-family: $font-tittle;
  width: 100%;
  color: white;
}

.redclass {
  @include title();
  background-color: $color6;
}

.clearblueclass {
  @include title();
  background-color: $color4;
}
.defaultclass {
  @include title();
  background-color: #1babffaf;
}

// background-color: #79aefe;
// background-color: #314190;
// background-color: #279636;
// background-color: #7d5d81;
// background-color: #ead24c;

.titleSmall {
  font-size: 1.3rem;
  font-family: $font-tittle;
  font-weight: bold;
  color: white;
}