.title {
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  letter-spacing: 1rem;
  font-family: $font-tittle;
  width: 100%;
  background-color: $color-title;
  //background-image: linear-gradient(to right, rgb(172, 212, 222), rgba(20, 136, 182, 0.596));
}
