.weather {
  &__p {
    text-align: center;
    color: white;
    font-size: 18px;
    color: #999999;

    &:hover {
      color: white;
    }
  }

  &__content {
    color: white;
    display: flex;
    justify-content: space-around;

    &-temp {
      text-align: center;
    }
  }

  &__select {
    width: 100px;
    display: flex;
    align-content: center;
    p {
      font-family: $font-content;
    }

    &-box {
      display: flex;
      justify-content: center;
      width: 100%;
      font-size: 12px;
      text-align: left;
      color: black;

      .select {
        width: 200px;
      }
    }
  }
}
