/*NAV*/

$themeOriginalNav: #17a2b8;
$themeGreenNav: #279636;
$themeDarkNav: #85428a;
$themeRedNav: #ff1b5faf;

.cyan {
  background-color: $themeOriginalNav;
}

.green {
  background-color: $themeGreenNav;
}

.purple {
  background: $themeDarkNav;
}

.red {
  background-color: $themeRedNav;
}

/*SIDEBAR*/
$themeOriginalSide: black;
$themeGreenSide: #0b3b04;
$themeDarkSide: #230225;
$themeRedSide: #350f1a;

.black {
  background-color: $themeOriginalSide;
}

.darkgreen {
  background-color: $themeGreenSide;
}

.darkpurple {
  background-color: $themeDarkSide;
}

.darkred {
  background-color: $themeRedSide;
}
