.social {
  height: 75vh;
  background-image: linear-gradient(
    to left,
    $color-blue-dark,
    rgba(255, 255, 255, 0.212)
  );
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 55vh);

  &__info-box {
    background-color: green;
    width: 50vw;
    height: 75vh;
    float: left;

    &-title,
    &-users {
      text-align: center;
    }

    &-title {
      font-family: $font-tittle;
      font-size: 3rem;
    }
    &-users {
      font-family: $font-content;
      font-size: 1.2rem;
    }
  }

  &__form-box {
    background-color: blue;
    width: 50vw;
    float: left;
  }

  &__login-box {
    background-color: yellow;
    width: 50vw;
    float: left;
    // visibility: hidden;
  }
}

img {
  width: 30vh;
}
