@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
/*-------------------------
-----   NAVBAR
-------------------------*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;

  &__theme {
    position: relative;

    .options {
      transition: all 400ms ease-in-out;
      top: 40px;
      z-index: 111;
      position: absolute;
      display: none;
      width: 60%;
      border-radius: 15px;

      cursor: pointer;
      padding: 10px 10px 10px 30px;

      button {
        background-color: white;
        color: black;
        border: none;
        width: 100%;
        padding: 10px;
        text-align: left;
        font-family: $font-content;

        &:hover {
          &:nth-child(1) {
            background-color: #17a2b8;
          }
          &:nth-child(2) {
            background-color: #279636;
          }
          &:nth-child(3) {
            background-color: #85428a;
          }
          &:nth-child(4) {
            background-color: #ff1b5f;
          }
        }
      }
    }
  }

  a {
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    border: none;

    &:visited {
      color: white;
    }
  }
}

.navbar .toggle-sidebar {
  cursor: pointer;
}

.navbar .toggle-sidebar span {
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  margin: 5px 0px;
}

.logo {
  flex-grow: 1;
}

.logo img {
  height: 65px;
  margin-left: 30px;
}

.navbar ul {
  list-style: none;
  display: flex;
  color: white;
  margin-bottom: 0;
}

.navbar li {
  margin-left: 20px;
  cursor: pointer;
  padding: 10px;
}
.navbar li:hover {
  background-color: rgba(255, 255, 255, 0.1);
  .options {
    display: block;
  }
}

//NO FUNCIONA EL FOCUS, HACERLO CON REACT PARA RESPONSIVE
.navbar li:focus {
  background-color: rgba(255, 255, 255, 0.1);
  .options {
    display: block;
  }
}

.navbar li i {
  margin-right: 8px;
}

.navbar .row::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

/*-------------------------
-----   MEDIA QUERIES RESPONSIVE
-------------------------*/

@media only screen and (max-width: 767px) {
  .navbar ul {
    display: none;
  }
  .logo {
    text-align: center;
  }
}
