.navbar {
  display: flex;
  justify-content: space-around;
}

nav .buttons-container {
  display: flex;
  align-items: center;

  a {
    padding: 0% 2%;
    margin: 1%;
    text-decoration: none;
    color: black;
    font-family: $font-tittle;
    font-size: 2rem;
  }
}
.contentsubmenu {
  display: none;
  z-index: 10000;
  position: absolute;
  top: 15%;
  right: 5%;
  background-color: $color-blue-light;
}
.submenu:hover .contentsubmenu {
  display: block;
  animation: prueba 2s;
}
@keyframes prueba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
ul {
  padding: 5px;
  margin: 0;
}
li {
  display: inline-block;
  text-align: center;
  margin-right: 70px;
}

li {
  .navh__tab {
    position: relative;
    text-decoration: none;
  }
}

//------------PRUEBA--------------------------

.navh__tab {
  display: inline-block;
  width: $navh-tab-width;
  position: relative;
  z-index: 10;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 2px;
  text-align: center;

  &:before {
    content: "";
    display: block;
    width: 0px;
    height: 4px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: $color-grey-dark;
    z-index: -1;
    /* HOVER OUT */
    transition: height 0.2s, width 0.2s 0.1s;
  }

  &:hover {
    &:before {
      content: "";
      width: $navh-tab-width;
      z-index: -1;
      /* HOVER IN */
      transition: width 0.5s, height 0.5s 0.5s;
    }
  }
}
