@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.3/css/mdb.min.css);

.navbar {
  width: 100%;
  z-index: 100;
}

.navbar .dropdown-menu a:hover {
  color: #616161 !important;
}

/* LOGO NAVBAR */
.navbar-brand img {
  height: 65px;
  margin-left: 30px;
}
.navbar-brand {
  padding: 0px !important;
}
.navbar-toggler-icon {
  font-size: 20px;
}

/* Media queries */
@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .logoVERT {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .logoVERT img {
    display: block;
  }
  .logoHOR {
    display: none !important;
  }
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 250px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 250px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
  .logoVERT {
    display: none !important;
  }
}
@media (max-width: 767px) {
  .logoVERT img {
    display: block;
  }
  .logoHOR {
    display: none !important;
  }
}
