/*.navbar {
  background-color: $color-title;
}

nav .buttons-container {
 
  a {
    color: black;
    font-family: $font-tittle;
    font-size: 2rem;
  }
}
.contentsubmenu {
  display: none;
  background-color: $color-blue-light;
}
.submenu:hover .contentsubmenu {
  display: block;
  animation: prueba 2s;
}
@keyframes prueba {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

li {
  display: inline-block;
  text-align: center;

}

li {
  .navh__tab {
    position: relative;
    text-decoration: none;
  }
}


*/
/*
.nav{
  background-color:#72b8d3;
  height: 100%;

  &__logo{
    display: flex;
    justify-content: center;
    padding-top: 30px;
  }

  &__links-link{
      display:block;
      text-decoration: none;
      padding: 10px;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      transition: all ease 0.25s;
      color: white;
      font-family: $font-tittle;
      font-size: 2rem;


      &-1:hover{
        background-color: rgba(231, 77, 60, 0.705);
      }
      &-2:hover{
        background-color: rgba(135, 78, 160, 0.705);
      }
      &-3:hover{
        background-color: rgba(41, 127, 185, 0.705) ;
      }
      &-4:hover{
        background-color: rgba(39, 174, 95, 0.705) ;
    
      }

  }
  
}


nav a:hover{
	color: rgba(255,255,255,1);
  border-bottom-color:rgba(255,255,255,0.4);
}

@keyframes move {
  from {
    width: 30%;
  }
  to {
    width: 20%;
  }
}

*/