/*-------------------------
-----   SIDEBAR
-------------------------*/

/* El propio bloque de la sidebar. De ancho mide 250px, pero la tenemos escondida -250px a la izquierda, por lo tanto no se ve */
.sidebar{
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0px;
  transition: all 400ms ease-in-out;
  z-index: 111;
}
/* Al pulsar el botÃ³n hamburguesa, los -250px los convertimos en 0px, lo que hace que se pegue a la parte izquierda de la pantalla */
.sidebar.oculta{
  left:-250px;
}

.sidebar.mostrar{
  left: 250px;
}
/* Cada botÃ³n de la sidebar */
.sidebar ul li{
  list-style: none;
  padding: 15px 20px;
  cursor: pointer;

  a{
    color: #999999;
    text-decoration: none;
  }
}