.navbar-collapse {
  z-index: 100;
}
#sidebar-wrapper {
  z-index: 10;
  height: 100%;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

/* Estilos sidebar */

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  position: fixed;
  left: 0px;
  background: black;
}

/* COLORES SIDEBAR*/

.sidebar-nav li {
  position: relative;
  line-height: 20px;
  display: inline-block;
  width: 100%;
}

.sidebar-nav li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 3px;
  transition: width 0.2s ease-in;
}

.sidebar-nav li:nth-child(1):before {
  background-color: #ec1b5a;
}
.sidebar-nav li:nth-child(2):before {
  background-color: #79aefe;
}
.sidebar-nav li:nth-child(3):before {
  background-color: #314190;
}
.sidebar-nav li:nth-child(4):before {
  background-color: #279636;
}
.sidebar-nav li:nth-child(5):before {
  background-color: #7d5d81;
}

.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
  width: 100%;
  transition: width 0.2s ease-in;
}

.sidebar-nav li a {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 15px 10px 30px;
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 44px;
}
.sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  padding: 0;
  margin: 0;
  border-radius: 0;
  border: none;

  box-shadow: none;
}
