/*-------------------------
-----   SIDEBAR
-------------------------*/

/* El propio bloque de la sidebar. De ancho mide 250px, pero la tenemos escondida -250px a la izquierda, por lo tanto no se ve */
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  left: 0px;
  transition: all 400ms ease-in-out;

  padding-top: 79px;
}
/* Al pulsar el botÃ³n hamburguesa, los -250px los convertimos en 0px, lo que hace que se pegue a la parte izquierda de la pantalla */
.sidebar.oculta {
  left: -250px;
}

.sidebar.mostrar {
  left: 250px;
}
/* Cada botÃ³n de la sidebar */
.sidebar ul li {
  list-style: none;
  padding: 15px 20px;
  cursor: pointer;
  width: 100%;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 3px;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
  }

  &:nth-child(1):before {
    background-color: #c0486c;
  }
  &:nth-child(2):before {
    background-color: #79aefe;
  }
  &:nth-child(3):before {
    background-color: #314190;
  }
  &:nth-child(4):before {
    background-color: #279636;
  }
  &:nth-child(5):before {
    background-color: #7d5d81;
  }
  &:nth-child(6):before {
    background-color: #814c4c;
  }

  &:hover:before,
  &:hover:before {
    width: 100%;
    -webkit-transition: width 0.2s ease-in;
    -moz-transition: width 0.2s ease-in;
    -ms-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
  }
  a {
    display: block;
    color: #ddd;
    text-decoration: none;

    &:hover,
    &:active,
    &:focus {
      color: #fff;
      text-decoration: none;
      background-color: transparent;
    }
  }
}

.logoutbutton {
  color: white;
}
