.weather {
  &__content {
    background-image: linear-gradient(
        to right bottom,
        rgba(252, 252, 252, 0.8),
        rgba(39, 106, 110, 0.8)
      ),
      url("../../images/weather/perrito.jpg");
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 320px;

    &-name,
    &-temp {
      display: flex;
      align-items: center;
      font-family: $font-content;
      font-size: 3rem;
      letter-spacing: 1rem;

      div {
        padding: 10px;
      }
    }
  }

  &__select {
    display: flex;
    justify-content: space-around;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;

    p {
      font-family: $font-content;
      font-size: 2rem;
      letter-spacing: 1rem;
    }

    &-box {
      width: 500px;
    }
  }
}
