.weather {

  margin-top: 320px;

  &__p{
    background-color: #000000;
    @include title();
    font-size: 20px;
    color: #999999;
    &:hover{
      color: white;
    }
  }
    
  &__content {
    color: white;
    display: flex;
    justify-content: space-around;

    &-temp {
      text-align: center;
      
    }
  }

  &__select {
   // display: flex;
   // flex-direction: column;
   color: white;
  

    p {
      font-family: $font-content;

    }

    &-box {
      text-align: left;
      color: black;
      //width: 230px;
    }
  }
}
