/*.row {
  max-width: $grid-width;
  margin: 0 auto;

  @include clearfix;

  [class^="col-"] {
    background-color: $color-blue-light;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  .col-1-of-3 {
    width: calc((100% - (2 * #{$gutter-horizontal})) / 3);
  }*/